<header class="header">
  <div class="container container_section_header">
    <div class="header__item-wrapper">
      <span class="header__logo">NewsExplorer</span>
    </div>
    <div class="header__item-wrapper">
      <nav class="header__menu" tabindex="0">
        <ul class="header__list">
          <li class="header__list-item">
            <div class="header__item-wrapper">
              <a href="/" class="header__link">Главная</a>
              <div
                class="header__link-underline header__link-underline_active"
              ></div>
            </div>
          </li>
          <li class="header__list-item">
            <div class="header__item-wrapper">
              <a href="./secondary" class="header__link">Сохранённые статьи</a>
              <div class="header__link-underline"></div>
            </div>
          </li>
          <li class="header__list-item">
            <div class="header__item-wrapper">
              <button class="header__button">
                <span class="header__button-text">Авторизоваться</span>
                <div class="header__button-icon"></div>
              </button>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
