@media screen and (max-width: 768px) {
  .popup__close {
    display: none;
  }
}

@media screen and (max-width: 426px) {
  .popup__content {
    position: absolute;
    top: 56px;
    bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 16px;
  }
}
