@media screen and (max-width: 650px) {
  .popup {
    top: 56px;
  }

  .popup__close {
    display: none;
  }

  .popup__content {
    position: absolute;
    max-width: 650px;
    top: 0;
    bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 16px;
  }
}
