<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="NewsExplorer - сервис поиска новостей в Интернет-СМИ по ключевому слову"
    />
    <meta name="author" content="Андрей Лапшов" />
    <title>NewsExplorer</title>
    <link
      rel="stylesheet"
      href="<%=htmlWebpackPlugin.files.chunks.main.css %>"
    />
    <link
      rel="shortcut icon"
      href="<%=require('../images/favicon.png')%>"
      type="image/x-icon"
    />
  </head>

  <body>
    <div class="root">
      <main>
        <div class="bg-image">
          <header class="header">
            <div class="container container_section_header">
              <div class="header__item-wrapper">
                <span class="header__logo">NewsExplorer</span>
              </div>
              <div class="header__item-wrapper">
                <nav class="header__menu header__menu_white" tabindex="0">
                  <div class="header__menu-overlay"></div>
                  <ul class="header__list header__list_black">
                    <li class="header__list-item">
                      <div class="header__item-wrapper">
                        <a href="./" class="header__link">Главная</a>
                        <div
                          class="header__link-underline header__link-underline_active"
                        ></div>
                      </div>
                    </li>
                    <li class="header__list-item header__list-item_articles">
                      <div class="header__item-wrapper">
                        <a href="./articles" class="header__link"
                          >Сохранённые статьи</a
                        >
                        <div class="header__link-underline"></div>
                      </div>
                    </li>
                    <li class="header__list-item">
                      <div class="header__item-wrapper">
                        <button class="header__button">
                          <span class="header__button-text"
                            >Авторизоваться</span
                          >
                          <i class="header__button-icon"></i>
                        </button>
                      </div>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </header>

          <div class="divider"></div>

          <section class="lead">
            <div class="container container_section_lead">
              <div class="lead__wrapper">
                <h1 class="lead__title">Что в мире творится?</h1>
                <p class="lead__subtitle">
                  Находите самые свежие статьи на любую тему и сохраняйте в
                  своём личном кабинете.
                </p>
                <form class="search form">
                  <input
                    type="text"
                    name="search"
                    class="search__input"
                    placeholder="Введите тему новости"
                    required
                  />
                  <button class="search__button" disabled>
                    Искать
                  </button>
                </form>
              </div>
            </div>
          </section>
        </div>

        <section class="results">
          <div class="container container_section_results">
            <h2 class="results__title">Результаты поиска</h2>
            <div class="results__content-wrapper">
              <div class="results__list"></div>
              <div class="preloader">
                <i class="preloader__element"></i>
                <span class="preloader__caption">Идет поиск новостей...</span>
              </div>
              <div class="results__no-results">
                <img
                  src="<%=require('../images/not-found.svg')%>"
                  alt="Нет результатов"
                  class="results__no-results-image"
                />
                <h3 class="results__no-results-title">Ничего не найдено</h3>
                <p class="results__no-results-text">
                  К сожалению, по вашему запросу ничего не найдено.
                </p>
              </div>
              <span class="results__message"></span>

              <button class="results__button">
                Показать ещё
              </button>
            </div>
          </div>
        </section>

        <section class="author">
          <div class="container container_section_author">
            <img
              src="<%=require('../images/author.jpg')%>"
              alt="Фото автора"
              class="author__photo"
            />
            <div class="author__about">
              <h2 class="author__title">Об авторе</h2>
              <p class="author__description">
                Это блок с описанием автора проекта. Здесь следует указать, как
                вас зовут, чем вы занимаетесь, какими технологиями разработки
                владеете.
              </p>
              <p class="author__description">
                Также можно рассказать о процессе обучения в Практикуме, чему вы
                тут научились, и чем можете помочь потенциальным заказчикам.
                Красавчик одним словом.
              </p>
            </div>
          </div>
        </section>
      </main>

      <footer class="footer">
        <div class="container container_section_footer">
          <span class="footer__copyright"
            >2020 Андрей Лапшов, Powered by News API</span
          >
          <nav class="footer__menu">
            <ul class="footer__menu-list">
              <li class="footer__menu-list-item">
                <a href="./" class="footer__menu-link">Главная</a>
              </li>
              <li class="footer__menu-list-item">
                <a href="https://praktikum.yandex.ru/" class="footer__menu-link"
                  >Яндекс.Практикум</a
                >
              </li>
            </ul>
          </nav>
          <ul class="footer__social-list">
            <li class="footer__social-list-item">
              <a
                href="https://github.com/andrewLapshov/"
                class="footer__social-link"
              >
                <img
                  src="<%=require('../images/social/github.svg')%>"
                  alt="github"
                  class="footer__social-icon"
                />
              </a>
            </li>
            <li class="footer__social-list-item">
              <a
                href="https://www.facebook.com/andrew.lapshov"
                class="footer__social-link"
              >
                <img
                  src="<%= require('../images/social/facebook.svg') %>"
                  alt="facebook"
                  class="footer__social-icon"
                />
              </a>
            </li>
          </ul>
        </div>
      </footer>

      <div class="popup">
        <div class="popup__content">
          <img
            src="<%=require('../images/icon/close.svg')%>"
            alt="закрыть"
            class="popup__close"
          />
        </div>
      </div>

      <template class="form_template-signup">
        <form action="" class="form form_signup">
          <h2 class="form__title">Регистрация</h2>

          <label for="email" class="form__input-label">Email</label>
          <input
            name="email"
            class="form__input"
            placeholder="Введите почту"
            pattern="[\w\-\.]{2,}@[\w-]{2,}(\.[\w-]{2,})?\.[\w-]{2,}"
            required
          />
          <span class="form__error"></span>
          <label for="password" class="form__input-label">Пароль</label>
          <input
            type="password"
            name="password"
            class="form__input"
            placeholder="Введите пароль"
            minlength="8"
            required
          />
          <span class="form__error"></span>
          <label for="username" class="form__input-label">Имя</label>
          <input
            type="text"
            name="name"
            class="form__input"
            placeholder="Введите своё имя"
            minlength="2"
            maxlength="30"
            required
          />
          <span class="form__error"></span>

          <span class="form__error form__error_submit"></span>
          <button class="form__submit" name="submit" disabled>
            Зарегистрироваться
          </button>

          <span class="form__switch"
            >или <span class="form__switch-link">Войти</span></span
          >
        </form>
      </template>

      <template class="form_template-success">
        <div class="form form_success">
          <h2 class="form__title">Пользователь успешно зарегистрирован!</h2>
          <span class="form__switch-link">Выполнить вход</span>
        </div>
      </template>

      <template class="form_template-login">
        <form action="" class="form form_login">
          <h2 class="form__title">Вход</h2>

          <label for="email" class="form__input-label">Email</label>
          <input
            name="email"
            class="form__input"
            placeholder="Введите почту"
            pattern="[\w\-\.]{2,}@[\w-]{2,}(\.[\w-]{2,})?\.[\w-]{2,}"
            required
          />
          <span class="form__error"></span>
          <label for="password" class="form__input-label">Пароль</label>
          <input
            type="password"
            name="password"
            class="form__input"
            placeholder="Введите пароль"
            minlength="8"
            required
          />
          <span class="form__error"></span>

          <span class="form__error form__error_submit"></span>
          <button class="form__submit" name="submit" disabled>Войти</button>
          <span class="form__switch"
            >или <span class="form__switch-link">Зарегистрироваться</span></span
          >
        </form>
      </template>

      <template class="card-template">
        <div class="card__wrapper">
          <div class="card">
            <div class="card__image">
              <button
                class="card__corner-button card__corner-button_unsaved"
              ></button>
              <div class="card__corner-label">
                Войдите, чтобы сохранять статьи
              </div>
            </div>
            <div class="card__description">
              <span class="card__date"></span>
              <h3 class="card__title"></h3>
              <div class="card__text-wrapper">
                <p class="card__text"></p>
              </div>
            </div>
            <span class="card__source"></span>
          </div>
        </div>
      </template>
    </div>

    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>
