.card__image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-height: 272px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
