@media screen and (max-width: 1024px) {
  .author__photo {
    max-width: 232px;
    margin-right: 32px;
  }

  .author__title {
    font-size: 30px;
    margin-top: 0;
  }
}

@media screen and (max-width: 550px) {
  .author__photo {
    max-width: 272px;
    margin: 0 0 24px;
  }

  .author__title {
    margin-bottom: 16px;
  }
}
